header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #DCE4F2;
}

.logoName{
    padding-left: 10px;
}

.navBar{
    display: flex;
    color: black;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    flex-direction: column;
}

.menu-toggle span {
    height: 2px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: #333;
        text-align: center;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}