body {
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100%;
  background-color: #171717;
  color: white;
}

@media (max-width: 768px) {
    .container {
      max-width: 100%; /* Largura máxima para telas menores */
      padding: 10px; /* Espaçamento interno reduzido para telas menores */
    }
  }