body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #171717;
  color: white;
}

.container {
    max-width: 1024px; /* Largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px;
}


@media (max-width: 768px) {
    .container {
      max-width: 100%; /* Largura máxima para telas menores */
      padding: 10px; /* Espaçamento interno reduzido para telas menores */
    }
  }