.sobreMin {
  padding: 50px 0px 60px 0px;
  margin: 0;
  background-color: #242323;
}

.box-sobremim {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding: 5px 0px 10px 0px;
}

.foto-perfil > img{
  width: 300px;
  height: auto;
}

.subtitulo-resumo{
  font-size: 28px;
  padding-bottom: 20px;
}

.resumo {
  padding: 20px 5px 20px 5px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .box-sobremim {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foto-perfil {
    text-align: center;
  }

  .resumo{
    width: 100%;
  }
}
